@import "mixin";
@import "color";
@import "size";
@import "component";
@import "animation";

html,
body {
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;
	overflow: hidden;
}

body {
	@include font-main;
	background: $white;
}

header {
	position: fixed;
	z-index: 5;
	background: white;
	width: 100%;
	line-height: $header-height;
	height: $header-height;
	vertical-align: middle;
	text-indent: 1em;
	@include fontsize(18);
	color: $gray2;
	border-bottom: solid $gray4 0.5px;
}

main {
	position: relative;
	top: $header-height;
	min-height: $main-height;
	background: $black;
	@include fontsize(12);
}

footer {
	position: relative;
	bottom: 0;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	color: white;
	height: $footer-height;
	line-height: $footer-height;
	background-color: $black;
	@include fontsize(12);
}

.cover-container {
	position: relative;
	top: 0;
	width: 100%;
	height: 540px;
	background: black;
	@include center;
}

.cover {
	max-width: 960px;
	width: 100%;
	height: 100%;
	background: url("../../assets/img/cover.jpg") no-repeat center/cover;
}

// Below is project unique style

.canvas {
	@include absolute(0, 0, 0, 0);
	width: 85%;
	height: 750px;
	background: white;
	margin: 0 0;
	overflow: hidden;
}

.scene {
	@include absolute(0, 0, 0, 0);
	width: 100%;
	height: 100%;
}

.base-layer {
	@include absolute(0, 0, 0, 0);
	width: 100%;
	height: 100%;
}

.pallet {
	@include absolute(0, 0, 0, 0);
	left: 85%;
	width: 15%;
	min-width: 15rem;
	height: 100%;
	z-index: 3;
}

.material-icons {
	color: $gray2;
	transition: .2s;
	transform: scale(1.2);

	&:hover {
		color: $green;
	}
}

.component-camera {
	z-index: 5;
	margin: 2.5rem;
	transform: scale(2);
}

.active {
	&-header {
		width: 100%;
		color: $gray5;
		background: $black;
		border-top: solid 1px $gray0;
		box-sizing: border-box;
		padding: 0.8rem 1rem;
		font-size: 1.1em;
		height: 5rem;
		margin: 0 0 1rem 0;
	}
	&-title {
		height: 60%;
		display: flex;
		&-index {
			width: 20%;
		}
		&-value {
			width: 70%;
			height: 2.5rem;
			font-weight: bold;
			margin: 0 0 0 1em;
		}
	}
	&-clickable {
		position: relative;
		height: 40%;
		width: 100%;
		box-sizing: border-box;
		padding: 1em;
	}
}

.keyframe {
	&-menu {
		@extend .active-header;
		height:6.5rem;
	}
	&-delay {
		height: 35%;
		width:100%;
		display: flex;
		&-index {
			width: 25%;
		}
		&-value {
			width: 20%;
			height:1.2rem;
			font-weight: bold;
			margin: 0 0 0 1em;
		}
	}
	&-iteration{
		@extend .keyframe-delay;
		&-index {
			@extend .keyframe-delay-index;
		}
		&-value {
			@extend .keyframe-delay-value;
		}
	}
	&-play {
		position: absolute;
		left: 20%;
		transform: scale(1.5);
		margin-top: 0.6rem;
	}
	&-push-state {
		position: absolute;
		left: 60%;
		transform: scale(1.2);
		margin-top: 0.7rem;
	}
	&-state-list {
		width: 100%;
		height: 650px;
		color: $gray5;
		font-size: 1.1em;
		background: $black;
		overflow-x: hidden;
		overflow-y: auto;
	}
	&-state {
		width: 100%;
		height: 5rem;
		color: $gray5;
		background: $gray0;
		transition: .2s;
		display: flex;

		&:hover {
			background: $gray1;
		}
		&-current {
			background: $pink;

			&:hover {
				background: $pink;
			}
		}
		&-text {
			width: 60%;
			height: 100%;
		}
		&-btn {
			width: 40%;
			height: 100%;
		}
		&-number {
			height: 33%;
			width: 90%;
			box-sizing: border-box;
			padding: 3% 7%;
		}
		&-duration {
			@extend .keyframe-state-number;
			display: flex;
			height: 38%;
	
			&-index {
				width: 60%;
			}
			&-value {
				width: 35%;
				height:1.2rem;
			}
		}
		&-src {
			@extend .keyframe-state-number;
		}
		&-update {
			position:absolute;
			margin: 1.0rem 0;
			left:60%;
		}
		&-remove {
			position:absolute;
			margin: 1.0rem 0;
			left:75%;
		}
	}
}
