@import "mixin";
@import "font";
@import "color";
@import "size";
@import "component";
@import "animation";
@import "local";


html,
body {
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;
	position: relative;
	overflow: hidden;
}

body {
	@include font-main;
	background: $white;
}

// Below is project unique style

.material-icons {
	color: $gray2;
	transition: .2s;
	-webkit-user-select: none;
	/* Chrome all / Safari all */
	-moz-user-select: none;
	/* Firefox all */
	-ms-user-select: none;
	/* IE 10+ */
	user-select: none;

	&:hover {
		color: $green1;
	}
}

header {
	position: fixed;
	z-index: 5;
	width: 100%;
	line-height: $header-height;
	height: $header-height;
	vertical-align: middle;
	@include fontsize(23);
	transition: 0.3s;

	&.header-edit {
		color: $gray2;
		background: white;
		border-bottom: solid $gray4 0.5px;
	}

	&.header-live {
		color: white;
		text-shadow: 0.8px 0.8px 0 $gray3, -0.8px 0.8px 0 $gray3, 0.8px -0.8px 0 $gray3, -0.8px -0.8px 0 $gray3;
		background: transparent;
		// background: $gray1-alpha;
		border-bottom: none;
	}

}

.header {
	&-title {
		position: fixed;
		margin: 0 2vw;
	}

	&-page {
		position: fixed;
		margin: 0 45vw;
	}
}

main {
	position: relative;
	top: $header-height;
	// min-height: $main-height;
	background: $black1;
	overflow: hidden;
	@include fontsize(12);
}